*~
*.o
*.a
.depend*
nbproject/
*.mo
.cproject
.project
.settings/
.gdbinit
config.h
config.log
config.status
configure
libtool
mk/rules.mk
mk/init.mk
po/Makefile
src/Makefile
src/fm
src/vfs/Makefile
src/vfs/*.a
src/vfs/plugins/localfs/Makefile
src/vfs/plugins/localfs/liblocalfs.so
stamp-h1
t/vfs/Makefile
t/vfs/vfs-test
t/.tests-passed
autom4te.cache/
Makefile
\#*#
*.patch
.dotest
TAGS
tags
*.tar.gz
